.nexer-group-cards {
  background-color: var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
}
.nexer-group-company-card-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  max-width: 1440px;
}
.card-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  color: white;
  /* text-align: justify; */
  text-align: center;
  min-height: 350px;
  max-width: 300px;
  flex: 10%; /* <-- lös snyggare */

  text-decoration: none;
  color: white;
}
.card-company img {
  /* border-radius: 0.5em; */
}

.card-company-text {
  margin-top: 2rem;
  font-family: var(--font-open-sans-condensed);
  font-family: var(--font-arial);
  font-family: var(--font-montserrat);
}
.card-link-text {
  /* fimpa? */
  display: none;
}
.card-company:hover {
  background-color: var(--color-primary-hover-dark-blue); 
  cursor: pointer;
  box-shadow: 0 0 5rem 0 var(--color-primary);
}

@media (max-width: 600px) {
  .card-company {
    margin: 0;
  }
}
