
.contact-us-bg-box {
  background-color: var(--color-primary);
}
.contact-container {

  font-family: "open sans condensed";
  font-size: 2rem;
  color: white;
  padding: 0;
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
    ),
    url(../res/img/contact-background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

.contact-us-information-wrapper {
  margin-right: auto;
  width: 50%;
  
  background-color: var(--color-primary);
}

.contact-us-wrapper {
  height: 100%;
  width: 100%;
  margin-left: auto;
  max-width: 720px;
}

.contact-us-info {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: normal;
}
.contact-us-info h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact-us-text p{

}
.contact-us-text {
  font-family: Arial;
  font-size: 1rem;
  padding: 2rem;

}

.contact-icon {
  filter: invert(1);
  height: 5em;
  width: auto;
  margin: 1rem;
}

.map-wrapper {
  padding: 3rem;
  /* padding: 2rem 6rem 6rem 6rem; */
  background-color: var(--color-primary);
}

.map {
  width: 100vw;
  max-width: 1440px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
