html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  var(--font-montserrat );
}

.container-produkt {
  position: relative;
  height: 100%;
  max-width: 1440px;
  padding-top: 50px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.container-produktSpjäll {
  position: relative;
  height: 100%;
  max-width: 1440px;
  padding-top: 50px;
  padding-bottom: 200px;
  margin: 0 auto;
}


.card {
  padding-top: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.images h2 {
  margin-bottom: 25px;
}

h1 {
  color: black;
  padding-bottom: 20px;
  border-bottom: 3px solid var(--color-border-yellow);
}
.imgs {
  cursor: pointer;
}

.infos #more-infos {
  display: flex;
  justify-content: flex-start;

  color: rgb(17, 7, 7);
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 90%;
}


.choose {
  cursor: pointer;
}

#info-content {
  font-size: 15px;
  height: 440px;
}

#info-contentSpjäll {
  height: 440px;
  font-size: 15px;
}

#info-content p {
  font-family: var(  --font-arial);
  padding: 3px;
  height: 200px;
  width: 570px;
  overflow-wrap: normal;
  font-size: 1.1rem;
  font-weight: 540;
}


#info-contentSpjäll p {
  font-family: var(  --font-arial);
  padding: 3px;
  height: 300px;
  width: 570px;
  overflow-wrap: normal;
  font-size: 1.1rem;
  font-weight: 540;
}

.slider {
  height: 80%;
  display: flex;
  align-items: center;
}

.slider img {
  width: 90%;
  margin: auto;
}

.img-slider {
  width: 70%;
  display: flex;
  height: 50px;
  justify-content: space-between;
  margin: auto;
  margin-top: 50px;
}

.img-slider div {
  height: 100%;
}

.img-slider img {
  height: 100%;
}

.Download {
  display: flex;
  padding-bottom: 0;
}

a > button {
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  flex-shrink: 1;
  background-color: hsl(201, 68%, 79%);
  border: none;
  color: black;
  font-size: 1.3rem;
  padding: 0.5rem;
  width: 23rem;
  cursor: pointer;
}
a > button:hover {
  color: black;
  background-color: var(--color-button-yellow); /* TODO: välj värg */
}

@media (min-width: 1025px) {
  .container-produkt {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
  }

  .images {
    width: 50%;
    height: 100%;
  }

  .images h2 {
    display: none;
  }

  .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0px;
    height: 80%;
    width: 50%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .infos h1 {
    display: block;
    color: black;
    margin-left: auto;
    margin-right: auto;
    
  }

  .img-slider {
    width: 50%;
  }
}

@media (min-width: 670px) {
  .container-produkt {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 670px) {
 
  #info-content {
    height: 26rem;
  }


  #info-content p {
    padding-top: 20px;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  #info-content h1 {
    text-align: center;
    padding-top: 20px;
  }

  

  #info-contentSpjäll {
    height: 42rem;
  }

  #info-contentSpjäll p {
    padding-top: 20px;
    height: 50rem;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  #info-contentSpjäll h1 {
    text-align: center;
    padding-top: 20px;
  }

  .container-produkt {
    position: relative;
    height: 100%;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 7rem;
    justify-content: center;
    align-items: center;
  
  }
  
.container-produktSpjäll {
  position: relative;
  height: 100%;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;

}
  

  a > .buttonProducts {
    font-family: 'Open Sans Condensed';
    font-weight: 300;
    flex-shrink: 1;
    background-color: hsl(201, 68%, 79%);
    border: none;
    color: black;
    font-size: 1.3rem;
    padding: 0.5rem;
    width: 100vw;
    cursor: pointer;
  }

}
