*,
*::before,
*::after { box-sizing: border-box; }


.slide-bg-box{
  width: 100vw;
  background-color: var(--color-primary);
  color: white;
}
.slide-wrapper {
  max-width: 1440px;
  margin: 0 auto; 

  min-height: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 0 50px;

}
h2{
  font-size: 2rem;
}
.slide-wrapper h2 {
  border-bottom: 3px solid #ffae00;
  text-align: center;
}
.slidetext {
  font-size: 1rem;

  
  line-height: normal;
  padding-right: 3rem;

  position: relative;
  
  align-items: center;
  width: 40%;
  font-family: Montserrat, sans-serif;

}

span.spantext{
  font-size: larger;
}

span.spantext:before{
  content: 'ENBEMA Teknisk Materialhantering AB projekterar, konstruerar och levererar transportutrustning för bland annat bulkgods och pulver, med kunder främst inom tung processindustri.';
  animation: ani1 infinite 30s;
}

@keyframes ani1 {
  50% 
  {content: 'ENBEMA Teknisk Materialhantering AB projekterar, konstruerar och levererar transportutrustning för bland annat bulkgods och pulver, med kunder främst inom tung processindustri.' }

  100% {
   content: 'Vi utför leveranser av enstaka maskiner eller kompletta system för bulkgodshantering. Våra kunder är t.ex. energiverk, cellulosaindustrin, cementindustrin, kemisk industri.' ;
  }
}




.card {
  position: relative;
  width: 700px;
  min-height: 480px;
  overflow: hidden;
  padding-left: 15%;
  clip-path: polygon(22% 0, 100% 0, 100% 100%, 0% 100%);
  

  /* border-radius: 5px; */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/*Light blue cover above the slide show*/
.card::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;

  display: block;
  width: 100%;
  height: 100%;


}

.card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  
  transform: translateX( 740px );
  background-image: url("../res/img/Enbema760.jpg");
 
  background-size: cover;
  

  
  animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
}


.card_part.card_two {
  z-index: 6;
  background-image: url("../res/img/elevatortopp759.jpg");
  background-size: cover;

  animation-delay: 7s;
}

.card_part.card_three {
  z-index: 5;
  background-image: url("../res/img/Skruvtransport760.jpg");
  background-size: cover;
  
  animation-delay: 14s;
}

.card_part.card_four {
  z-index: 4;
  background-image: url("../res/img/Spjäll760.jpg");
  animation-delay: 21s;
  background-size: cover;

}


@keyframes opaqTransition {
  3% { transform: translateX( 0 ); }
  25% { transform: translateX( 0 ); }
  28% { transform: translateX( -740px ); }
  100% { transform: translateX( -740px ); }
}




.cardwrapper1 {
  background-color: var(--color-white);
  max-width: 1440px;
  margin: 0 auto;
  min-height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;

  }

  .slidetext1 h2 {
    
    word-wrap: break-word;
    line-height: normal;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 3px solid #ffae00;
  }
  .slidetext1 p{
    word-wrap: break-word;
  }
  .slidetext1 {

    font-size: larger;

    position: relative;
    width: 50%;
    font-family: Montserrat, sans-serif;
    padding-left: 15%;
  }

  .card1 {
    position: relative;
    min-width: 564px;
    min-height: 400px;
    padding-right: 0;
    border-radius: 5px;
   
  
  }
  
  .card2 {
    position: absolute;
    display: flex;
    align-items: space-between;
    width: 100%;
    min-height: 100%;
    
    
    background-image: url("../res/img/IMG_0917.jpg");
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    
  }

  
 
.cardwrapper2 {
  max-width: 1440px;
  margin: 0 auto;

  min-height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  padding-bottom: 1px;
  border-bottom: 3px solid #ffae00;
  padding: 0 50px;
  }
  /* .cardwrapper1 {
    max-width: 1440px;
    margin: 0 auto;

    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    padding: 0 50px;
  
    } */




  .slidetext2 h2 {
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 3px solid #ffae00;
    justify-self: flex-start;
  }

  .slidetext2 {
    position: relative;
    width: 50%;
    font-family: Montserrat, sans-serif;
    padding-right: 15%;
    font-size: larger;
    /* padding: 0 50px; */
  
  }

  


  .card3 {
    position: relative;
    width: 450px;
    min-height: 300px;
    border-radius: 5px;
    
  
  }
  
  .card4 {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
   
    
    background-image: url("../res/img/komponenter.png");
    background-size: cover;

  }

  .button1 {
  background-color: var(--color-primary-lighter);
    color: white;

    display: inline-block;
    border-radius: 2px;
    /* background-color: hsl(175, 50%, 24%); */
    background-color: #ffae00;
    border: none;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    padding: 10px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    padding-right: 25px;
  }
  
  .button1:hover span:after {
    opacity: 1;
    right: 0;
  }

  .button2 {
    background-color: var(--color-primary-lighter);
    color: white;

    display: inline-block;
    border-radius: 2px;

    border: none;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    padding: 10px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button2:hover span {
    padding-right: 25px;
  }
  
  .button2:hover span:after {
    opacity: 1;
    right: 0;
  }

  .button3 {
    background-color: var(--color-primary-lighter);
    color: white;

    display: inline-block;
    border-radius: 2px;

    border: none;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    padding: 10px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button3:hover span {
    padding-right: 25px;
  }
  
  .button3:hover span:after {
    opacity: 1;
    right: 0;
  }

  .referenceTitle 
  {
    padding-top: 20px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 20px;
  }

  .marqueReferences {
    height: auto;
    padding-bottom: 20px;
    display: flex;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    max-width: 1200px;
      margin: 0 auto;
  } 

  .marqueReferencesDiv {
  
    max-width: 1200px;
    height: auto;
    background-color: white;
    color: orange;
    overflow: hidden;
    clear: both;
    padding: 0 50px;
    
  }



  

  .marqueReferencesContent {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 35s linear infinite;
   
  }

  @keyframes scrolling {
    0% {transform: translate(0vw);}
    100% {transform: translate(-180vw);}
  }


  .marqueReferencesContent li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    flex-shrink: 0;
    font-size: 5rem;
    white-space: nowrap;
    z-index: 1;
    padding-left: 40px;
    
  }

@media(max-width: 810px){
  .slide-wrapper{
    flex-direction: column;
    min-height: 200px;
    padding-bottom: 2rem;

  }
  .card2 {

    clip-path: circle(40%);
  }
  .cardwrapper1{
    flex-direction: column;
  }
  .cardwrapper2{
    flex-direction: column;
  }
  .slidetext{
    width: 100%;
  }
  .slidetext1{
    width: 100%;
  }
  .slidetext2{
    width: 100%;
  }
  .card{
    display: none;
  }
}