:root {
  /* color */
  --color-primary: #006089;
  --color-primary-hover-dark-blue: #0084bd;
  --color-primary-white: #ffffff;

  --color-button-blue: #00aeef;
  --color-button-blue-hover-dark: #0084bd;
  
  --color-button-yellow: #ffae00;


  --color-border-yellow: #ffae00;
  
  --color-text-dark: black;
  --color-text-light: white;

  /* font */  
  --font-montserrat: 'Montserrat', sans-serif;
  --font-arial: Arial, 'Montserrat', sans-serif;
  --font-open-sans-condensed: 'Open Sans Condensed', 'Montserrat', sans-serif;
  
  /* --color-primary-lighter: var(--clr-noxor-blue-lighter); */
  
  --color-primary-light: var(--clr-noxor-blue-highlight);

  

  /* --color-primary-light: var(--clr-candidate-25); */
  /* --color-primary-lighter: var(--clr-candidate-26); */
  --color-primary-lighter-hover: var(--clr-candidate-22);
  --color-white: #fff;
  --color-complementary: #5c2d1f;
  --color-slider: var(--clr-candidate-20);

  --clr-noxor-blue: hsl(217, 50%, 24%); /*  */

  --clr-noxor-blue-lighter: #00aeef; /*  */
  --clr-noxor-blue-highlight: #2b4d82; /*  */

  --clr-candidate-1: #1f5c57; /* primary */
  --clr-candidate-2: #3f7671; /* monocromatic */
  --clr-candidate-3: #5c2d1f; /* complementary */
  --clr-candidate-4: #1f245c; /* analogous 1 */
  --clr-candidate-5: #215c1f; /* analogous 2 */
  --clr-candidate-6: #5c3c1f; /* split complementary 1 */
  --clr-candidate-7: #5c1f21; /* split complementary 2 */
  --clr-candidate-8: #5c1f21; /* triadic 1 */
  --clr-candidate-9: #5c1f40; /* triadic 2 */
  --clr-candidate-10: #5c2d1f; /* tetradic 1 */
  --clr-candidate-11: #5c4c1f; /* tetradic 2 */
  --clr-candidate-12: #3b1f5c; /* tetradic 3 */
  --clr-candidate-13: #788ab7; /*  */
  --clr-candidate-14: #334b49; /*  */
  --clr-candidate-15: #1a857f; /*  */
  --clr-candidate-16: #894130; /*  */
  --clr-candidate-17: #00759c; /*  */
  --clr-candidate-18: #5a2530; /*  */
  --clr-candidate-19: #52648f; /*  */
  --clr-candidate-20: #006089; /* rätt nice */
  --clr-candidate-21: #2596be; /*  */
  --clr-candidate-22: #0084bd; /*  */
  --clr-candidate-23: #114400; /*  */
  --clr-candidate-24: hsla(99, 50%, 15%); /* industrigrön rätt nice  */
  --clr-candidate-25: hsl(99, 50%, 20%); /* industrigrön rätt nice  */
  --clr-candidate-26: hsl(99, 50%, 35%); /* industrigrön rätt nice  */
  --clr-candidate-27: hsl(99, 50%, 25%); /* industrigrön rätt nice  */
}
* {
  box-sizing: border-box;
}
body {
  color: var(--color-text-dark);

  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 16px;
  /* font-weight: 500; */
  margin: 0;
  padding: 0;
  line-height: 1.6rem; /* ? */
  min-width: 320px; /* ? */
}

/* h1, h2, h3, h4 {
  
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: "Montserrat";
    border-bottom: 3px solid var(--color-border-yellow);
    line-height: normal;

    text-transform: uppercase;
  
  
} */

/* img {
  max-width: 100%;
  height: auto;
} */

/* media */

@media (max-width: 1200px) {
  .card-company {
    flex: 40%;
  }
  .nexer-group-company-card-container {
    max-width: 660px;
  }
  .card-link-text {
    display: none;
  }

}

@media (max-width: 660px) {
  .card-company {
    flex: 90%;
  }
  .nexer-group-company-card-container {
    max-width: 400px;
  }
}
