  body {
        text-align: center;
        padding : 0px;
        background: white;
        font-family: Montserrat;
      }

.produktTitle1 {
  background-color: #e3f1f3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blue;
  font-size: 26px;
    }
  
      
    

      .grid-products { 
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-gap: 70px;
        align-items: end;
        padding: 50px 160px 50px;
        background: white;
      
        }
      .grid-productsWrapper {
        background: #e3f1f3;
      }

      .grid > article {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
        
      }
      .grid > article img {
        max-width: 100%;
      }
      .text {
        padding: 0 2px 0;
        font-size: 14px;
        font-weight: 540;
        font-family: Arial, Helvetica, sans-serif;
      }

  

      .text > a > button {
        font-family: 'Open Sans Condensed';
        font-weight: 700;
        flex-shrink: 1;
        background-color: hsl(175, 50%, 44%);
        border: none;
        color: white;
        font-size: 1.2rem;
        padding: 0.5rem;
        border-radius: 5px; 
        cursor: pointer;
        }

        .text > button:hover{
          color: hsl(0, 0%, 90%);
          background-color: hsl(175, 50%, 34%);
        } 