* {
  box-sizing: border-box;
}

.header {
  /* background-color: var(--color-primary); */

  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  list-style: none;
  width: 1440px;
}
.header-logo {
  display: flex;
  flex-direction: column;
}
.header-title {
  color: rgb(25, 19, 19);
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.7rem;
  font-family: 'Montserrat';
}

.header-subtitle {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 1rem;
  padding-left: 1.2rem;
}
.header-noxor-logo {
  max-height: 14px;
  max-width: auto;
  margin-top: 0.3rem;
}
.container-header {
  display: flex;
  margin: 1rem;
  padding-top: 0;
  height: 50px;
  justify-content: space-between;
}

.header-link-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.nav-header ul {
  padding-top: 1rem;
  padding-bottom: 2rem;
  list-style: none;
}

.nav-header li {
  display: inline-block;
  /* margin-right: 15px;
  margin-left: 15px; */
  padding: 30px 15px;
  position: relative;

  height: 100%;
  border-left: 1px solid #e5e5e5;
}
.nav-header li:last-of-type {
  border-right: 1px solid #e5e5e5;
}

.nav-header a {
  color: var(--color-primary-light);
  text-decoration: none;
  font: normal 500 20px / 21px 'montserrat', sans-serif;
  display: inline-block;
  position: relative;
}
s .nav-header a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: rgb(25, 19, 19);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-header a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.submenu {
  position: absolute;
  visibility: visible;
  z-index: 20;
  top: 100%;
  /* dropdown menu offset */
  /* left: 15%; */
  width: 400%;
  text-align: left;
}

li {
  /* ? vad gör */
  display: block;
  transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: relative;
  left: 0;
  display: block;

  /* fade in/out */
  transition: visibility 0s linear 0s, opacity 400ms;

  /* to make sure the menu does not pop up when hovering block area */
  pointer-events: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  left: 0p;
  background-color: hsla(0, 0%, 100%, 0.9);
  box-sizing: border-box;

  /* to enable menu navigation */
  pointer-events: auto;
}

ul li ul li {
  clear: both;
  width: 100%;
  height: 0px;
}
header ul {
  padding-left: 1rem;
  /* padding-top: .5rem; */
}

/* 
--OLD CSS --

.header {
  background-color: hsl(175, 50%, 24%);
  height: 226px;
  padding-bottom: 0px;
}

.header::after {
content: '';
display: false;
clear: both;
}


.container-title {
text-align: center;
font-size: 30px;
margin: auto;
padding: 2px;
padding-bottom: 0px;
}

.headerTitle {
  color: rgb(25, 19, 19);;
}

.container-subtitle {
  text-align: center;
  font-size: 23px;
  margin-bottom: 0px;
  height: 20px

  
  
}

.headerSubtitle {
  color: antiquewhite;
  height: 20px
}


.container-header {
  display: flex;
  width: 75%;
  margin: 0 auto;
  padding-top: 0;
  height: 50px;
  
}

.logo {
  float: relative;
  padding-top: 4px;
  height: 100px;
  width: 150px;
  margin-right: 0;
}

.nav {
  float: right;
  margin-left: 0;
}

.nav ul {
  margin-left: 150px;
  padding: 0;
  list-style: none;
}

.nav li {
  display: inline-block;
  margin-right: 15px;
  padding-top: 30px;
  position: relative;
}

.nav a {
  color: rgb(25, 19, 19);
  text-decoration: none ;
  font: normal 700 18px / 21px "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif;
  display: inline-block;
  position: relative;  
}

.nav a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: rgb(25, 19, 19);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;

}

.nav a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom;
} 

.submenu {
  position: absolute;
  visibility: visible;
  z-index: 200;
  top: 100%;
  left: 100;
  width: 150px;
  opacity: 1;
}

li {
  display: block;
  transition-duration: 0.5s;
 }
 
 li:hover {
   cursor: pointer;
 }
 
 ul li ul {
   visibility: hidden;
   opacity: 0;
   position: relative;
   transition: all 0.5s ease;
   margin-top: 1rem;
   left: 0;
   display: none;
 }
 
 ul li:hover > ul,
 ul li ul:hover {
   visibility: visible;
   opacity: 1;
   display: block;
   left: 0p;
   background-color: rgba(255, 255, 255, 0.844);
   box-sizing: border-box;
 }
 
 ul li ul li {
   clear: both;
   width: 100%;
   height: 0px;
 }

 */
