.map-wrapper {
  padding: 6rem;
  background-color: var(--color-primary);
}

.map {
  width: 100vw;
  max-width: 1400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-us-bg {
  background-color: var(--color-primary);
}
.contact-us-container {
  background: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1440px;

  margin: 0 auto;
}
.contact-us-wrapper {
  word-wrap: break-word;
  display: flex;
  flex-direction: row;
}
.contact-us-text {
  width: 50%;
}

.contact-us-image {
  width: 50%;
  height: 100%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url(contact-baground-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
